 <!-- As a link -->
 <nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(245, 88, 40);"><b> DAILY REMINDER </b></a>
    <span class="quote text-light">Reminding you all day</span>
  </nav>
  
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">SIGN IN</h3>
                  
              </div>
              <div class="card-body">
                  <form onsubmit="event.preventDefault();bank.authenticate()">
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" name="acno" [(ngModel)]='acno' placeholder="User I.D" id="login_accno" required>
                          
                      </div>
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password" class="form-control" name="pswd" [(ngModel)]='pswd' placeholder="Password" id="login_password" required>
                      </div>
                      
                      <div class="form-group">
                          <input type="submit" value="LOG IN" (click)="login()" class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
              <p style="color:white;align-items:baseline;">Not our user ? <a routerLink="register">REGISTER</a></p>
          </div>
      </div>
  </div>
